<h4>Curriculums</h4>
<table class="striped highlight">
  <% if @curriculums.empty?  %>
    There are no curriculums in the system at this time
  <%else%>
    <thead>
      <th class="align_center">Name</th>
      <th class="align_center">Ratings</th>
      <th class="align_center">Times Used</th>
      <th class="align_center">Options</th>
    </thead>
    <% for curriculum in @curriculums %>
        <tr>
          <td class="align_center"><%= link_to "#{curriculum.name}", curriculum_path(curriculum), class: 'links' %></td>

          <td class="align_center">
            <% if curriculum.min_rating == 0 %>
              <%= "Unrated - #{curriculum.max_rating}" %>
            <% else %>
              <%= "#{curriculum.min_rating} - #{curriculum.max_rating}" %>
            <% end %>

                


          </td>
          <td class="align_center"><%= curriculum.camps.count %></td>
          <td class="align_center">
            <%= link_to edit_curriculum_path(curriculum) do %>
                <i class="material-icons color-icons">edit</i>
            <% end %>
            
          </td>
        </tr>
    <% end %>
  <% end -%>
</table>
<br />
<%= will_paginate @curriculums, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>

<p>&nbsp;</p>

<p><strong>
<%= link_to "Add a New curriculum", new_curriculum_path, class: 'waves-effect waves-light btn' %> 
</strong></p>
