<div class="card">
  <div class="card-content">
    <%= hidden_field_tag "camp_id", @camp.id %>

    <h4><%= @camp.name %> </h4><br />

    <%= "#{@camp.curriculum.description}" %><br><br>

    <b>Location:&nbsp;&nbsp;</b>
    <%= "#{@camp.location.name}" %><br>

    <b>Cost:&nbsp;&nbsp;</b>
      <%= "$#{'%.2f' % @camp.cost}" %><br>

    <b>Date:&nbsp;&nbsp;</b>
      <%= "#{@camp.start_date.strftime('%m/%d/%y')} - #{@camp.end_date.strftime('%m/%d/%y')}" %><br>
    <b>Time Slot:</b>
      <% if @camp.time_slot == "am" %>
        Morning
      <% else %>
        Afternoon 
      <% end %><br>
    <b>Openings:</b>
    <%= "#{@camp.max_students - @camp.enrollment}"  %><br>

    <b><%= @camp.active ? "Active" : "Inactive" %></b><br>

    <div id='instructors_list'>
      <div class='row'>
        <div class='col s6'>
          <h5>Camp Instructors:
            <% if logged_in? and current_user.role?(:admin)%>
              <a href="#" v-on:click="switch_modal"> <i class="material-icons color-icons small">add</i></a>
            <% end -%>
          </h5>

          <div v-show="instructors.length > 0" > 
            
            <ul is='instructor-row' 
              v-for="instructor in instructors" 
              v-bind:instructor="instructor"
              class="no_bullet">  
            </ul>

            <br>
          </div>

          <div v-show="instructors.length == 0">
            No instructors at this time
          </div>
        </div>

    
        <div v-if="modal_open" class='col s6' >

          <new-instructor-form></new-instructor-form>
        </div>

      </div>
    </div>



    <div id ='students-table'>

      <% if logged_in? and (current_user.role?(:admin)  or (current_user.role?(:instructor) and Instructor.find_by_user_id(current_user).camps.include?(@camp)) or (current_user.role?(:parent)))%>
        <h5>Students</h5>
        <% if @students.empty?  %>
              <br>
              There are no active students in the system at this time
            <%else%>
            <table class="striped highlight">
              <thead>
                <th class="align_center">Name</th>
                <th class="align_center">Date of Birth</th>
                <th class="align_center">Rating</th>
                <% if logged_in? and current_user.role?(:admin) %>
                  <th class="align_center">Options</th>
                <% end %>

              </thead>

              <% for student in @students %>
                <tr>
                  <% if logged_in? and (current_user.role?(:admin)  or  student.family.user == current_user)%>
                    <td class="align_center"> 
                        <%= link_to "#{student.proper_name}", student_path(student) , class: "links"%>
                    </td>
                  <% else %> 
                    <td class="align_center"> 
                        <%= "#{student.proper_name}" %>
                    </td>
                  <% end %>

                  <td class="align_center"><%= student.date_of_birth.strftime("%m/%d/%y") %></td>
                  <td class="align_center"><%= student.rating %></td>
                  <% if logged_in? and current_user.role?(:admin) %>
                      <td class="align_center">
                        <%= link_to edit_camp_path(@camp) do %>
                            <i class="material-icons color-icons">edit</i>
                        <% end %>
                      </td>
                    <% end %>
                </tr>
              <%end%>
             </table>
            <% end -%>
           <% end -%>

        


      


    </div>


      
  </div>
</div>




<script type="text/x-template" id="camp-instructor-form-template">
  <!-- create an empty camp instructor object to work with -->
  <% @camp_instructor = CampInstructor.new %>
  <!-- now the form template itself -->
  
    <div class="col s12">
      <h5>New Instructor:</h5>
      <%= simple_form_for(@camp_instructor) do |f| %>
        <%= f.error_notification %>
        <div class="row">
          <div class="form-inputs">
            <%= f.input :instructor_id, collection: Instructor.active.alphabetical.to_a, include_blank: true %>


            <!--     handle only the possible isntructors   find returns nil  -->
            <%= f.input :camp_id, as: :hidden, input_html: { value: @camp.id } %>
          </div>
        </div>
        <div class="row">
          <div class="form-actions col s8">
            <%= f.button :submit,  "Add" %>
          </div>
        </div>
      <% end %>
    </div>
  

</script>

<script type="text/x-template" id='instructor-row'>

    <li>
      <% if logged_in? and current_user.role?(:admin) %> 
        <a v-on:click="remove_record(instructor)" class="remove links">x&nbsp;&nbsp;</a>
      <%end%>
      {{ instructor.first_name }} {{ instructor.last_name }}
    </li>
</script>

  




<!--"#{instructor.phone.insert(6,'-').insert(3,'-')}" %></td> -->