<h4>Instructors</h4>
<table class="striped highlight">
  <% if @instructors.empty?  %>
    There are no instructors in the system at this time
  <%else%>
    <thead>
      <th class="align_center">Name</th> 
      <th class="align_center">Phone</th>
      <th class="align_center">Camps</th>
      <th class="align_center">Options</th>
    </thead>
    <% for instructor in @instructors.active.alphabetical %>
        <tr>
          <td class="align_center"><%= link_to "#{instructor.name}", instructor_path(instructor), class: 'links' %></td>
          <td class="align_center"><%= "#{instructor.phone.insert(6,'-').insert(3,'-')}" %></td>
          <td class="align_center"><%= "#{instructor.camps.count}" %></td>
          

          <td class="align_center">
            <%= link_to edit_instructor_path(instructor) do %>
                <i class="material-icons color-icons">edit</i>
            <% end %>
            
          </td>
        </tr>
    <% end %>
  <% end -%>
</table>
<br />
<%= will_paginate @instructors, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>

<p>&nbsp;</p>

<p><strong>
<%= link_to "Add a New Instructor", new_instructor_path, class: 'waves-effect waves-light btn' %> 
</strong></p>
