<p class="supertiny">&nbsp;</p>

<div id="footer" class="center-align">
  
  <%= link_to 'Home', home_path, class: "links" %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <%= link_to 'About', about_path, class: "links" %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <%= link_to 'Contact Us', contact_path, class: "links" %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <%= link_to 'Privacy Policy', privacy_path, class: "links" %>
  <br />
  <div id="copy">
    Webmaster: <%= mail_to("philip.baker21@gmail.com", "Philip Baker", encode: "javascript", class: ' email') %> 
    &nbsp;&nbsp;&copy 2018
  </div>

</div>