<div class="row">
  <div class="col s8 offset-m2">
    <div class="card">    
      <div class="card-content">
        <%= simple_form_for(@user) do |f| %>
          <%= f.error_notification %>



            <div class="row">
              <% if @user.username.nil? %>
                <%= f.input :username, label_html: { class: 'active' }, wrapper_html: {class: 'col s4'} %>
              <% else %>
                <b >Username:</b>  <%= @user.username %><br><br>
              <% end %>

              <%= f.input :email, label_html: { class: 'active' }, wrapper_html: {class: 'col s5'} %>

              <%= f.input :phone, label_html: { class: 'active' }, wrapper_html: {class: 'col s3'} %>
            </div>
            <div class="row">
              <%= f.input :password, label_html: { class: 'active' }, wrapper_html: {class: 'col s6'} %>
              <%= f.input :password_confirmation, label_html: { class: 'active' }, wrapper_html: {class: 'col s6'} %>

              
            </div>

            <div class="row">
              <%= f.input :active, label_html: { class: 'active' } %>
            </div>


            
            <br>
            <div class="row">
              <div class="form-actions col s8 ">
                <%= f.button :submit %>
              </div>
            </div>
          </div>
        <% end %>
          
      </div>
    </div>
            








            <!--  always creating a parent account  -->

  </div>

  


  </div>
