<div class="container" >
      
  <div id="main">
    <div class="row card">
      <div class = 'card-content'>
          <div class='row'>
            <%= link_to(new_user_path, class: 'waves-effect waves-light btn col s12') do %>
              New User
            <% end %>
          </div>
          <div class="divider"></div>
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s6"><a href="#active-users">Active users</a></li>
            <li class="tab col s6"><a href="#inactive-users">Inactive users</a></li>
          </ul>
        </div>

        <div id="active-users" class="col s12">
          <table class="striped highlight">
          <% if @active_users.empty?  %>
            <br>
            There are no active users in the system at this time
          <%else%>
            <thead>
              <th class="align_center">Name</th>
              <th class="align_center">Username</th>
              <th class="align_center">Role</th>
              <th class="align_center">Email</th>
              <th class="align_center">Phone</th>
              <th class="align_center">Options</th>
            </thead>
            <% for user in @active_users %>
                <tr>
                  <% if user.role? :instructor %>
                    <td class="align_center"><%=  link_to Instructor.find_by_user_id(user.id).proper_name, instructor_path(Instructor.find_by_user_id(user.id)), class: 'links' %></td>
                  <% elsif user.role? :parent %>
                    <td class="align_center"><%=  link_to "#{Family.find_by_user_id(user.id).parent_first_name } " "#{Family.find_by_user_id(user.id).family_name}", family_path(Family.find_by_user_id(user.id)), class: 'links'  %></td>
                  <% else %>
                    <td class="align_center"><%=  link_to user.username.capitalize, user_path(user), class: 'links' %></td>
                  <% end %>

                  <td class="align_center"><%=  user.username %></td>

                  <td class="align_center"><%= "#{user.role.capitalize}" %></td>
                  <td class="align_center"><%= user.email %></td>

                  <td class="align_center"><%= "#{user.phone[0..2]}-#{user.phone[3..5]}-#{user.phone[6..10]}" %></td>

                  <% if user.role? :instructor %>
                    <td class="align_center">
                      <%=  link_to edit_instructor_path(Instructor.find_by_user_id(user.id)) do %>
                          <i class="material-icons color-icons">edit</i>
                      <% end %>
                    </td>
                  
                  
                  <% elsif user.role? :parent %>
                    <td class="align_center">
                      <%=  link_to edit_family_path(Family.find_by_user_id(user.id)) do %>
                          <i class="material-icons color-icons">edit</i>
                      <% end %>
                    </td>
                  <% else %>
                    <td class="align_center">
                      <%= link_to edit_user_path(user) do %>
                          <i class="material-icons color-icons">edit</i>
                      <% end %>
                      
                    </td>
                  <% end %>
                </tr>
              <% end %>
            <% end -%>

          </table><br>
          <%= will_paginate @active_users, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next"%>

          <br>

        </div>


        <div id="inactive-users" class="col s12">
          <table class="striped highlight">
            <% if @inactive_users.empty?  %>
              <br>
              There are no inactive users in the system at this time
            <%else%>
              <thead>
                 <th class="align_center">Username</th>
              <th class="align_center">Role</th>
              <th class="align_center">Email</th>
              <th class="align_center">Phone</th>
              <th class="align_center">Options</th>
              </thead>
              <% for user in @inactive_users %>
                <tr>
                  <td class="align_center"><%=  user.username %></td>

                  <td class="align_center"><%= user.role %></td>
                  <td class="align_center"><%= user.phone %></td>
                  <td class="align_center"><%= user.email %></td>
                  <td class="align_center">
                    <%= link_to edit_user_path(user) do %>
                        <i class="material-icons color-icons">edit</i>
                    <% end %>
                    
                  </td>
                </tr>
              <% end %>
            <% end -%>
          </table>
          <br>
          <%= will_paginate @inactive_users, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next"%>

          <br>
        </div>


      </div>

    </div>

    <!-- TABS WILL GO HERE -->

  </div> <!-- end of div#main -->

  
</div> <!-- end of div.container -->