<div class = 'row'>
  <div class = 'card col s5'>
    <div class = 'card-content'>
        <h5>Your Children</h5>
        <% if @students.empty?  %>
            <br>
            You currently have not added any children to your family
          <%else%>
          <table class="striped highlight">
            <thead>
              <th class="align_center">Name</th>
              <th class="align_center">Next Camp</th>
              <th class="align_center">Rating</th>
              <th class="align_center">Options</th>

            </thead>

            <% for student in @students %>
              <tr>
                <td class="align_center"> <%= link_to "#{student.first_name}", student_path(student) , class: "links"%></td>
                <% if !student.camps.upcoming.chronological.empty? %>
                  <td class="align_center"><%= "#{student.camps.upcoming.chronological.first.start_date.strftime('%m/%d/%y')}" %></td>
                <% else %> 
                  <td class="align_center"> N/A </td>
                <% end %>
                <td class="align_center"><%= "#{student.rating}" %></td>
                <td class="align_center">
                  <%= link_to edit_student_path(student) do %>
                      <i class="material-icons color-icons">edit</i>
                  <% end %> 
                </td>
              </tr>
            <%end%>
           </table>
          <% end -%>
    </div>

  </div>

  <div class = 'card col s6 offset-s1'>
    <div class = 'card-content'>
        <h5>Upcoming Registrations</h5>

        <table class="striped highlight">
          <% if @upcoming_reg.empty?  %>
            <br>
            There are no upcoming registrations in the system at this time
          <%else%>
            <thead>
              <th class="align_center">Camp Name</th>
              <th class="align_center">Student Name</th>              
              <th class="align_center">Start</th>
              <th class="align_center">Time</th>
              <th class="align_center">Location</th>
            </thead>
            <% for reg in @upcoming_reg %>
              <tr>
                <td class="align_center names"><%= link_to "#{reg[0].name}", camp_path(reg[0]), class: "links"%></td>
                <td class="align_center names"><%= link_to "#{reg[1].first_name}", student_path(reg[1]), class: "links"%></td>

                <td class="align_center"><%= "#{reg[0].start_date.strftime('%m/%d/%y')}" %></td>
                <% if (reg[0].time_slot == "am") %>
                  <td class="align_center">Morning</td>
                <% else %>
                  <td class="align_center">Afternoon</td>
                <% end -%>
                
                <td class="align_center"><%= "#{reg[0].location.name}" %></td>
                

                 <%# link_to(registration_path(camp.registration), method: 'delete', data: {confirm: "Are you sure you want to remove this registration"}, class: 'waves-effect waves-light btn btn-alert') do %>
      <!--<i class="material-icons">delete</i>-->
  <%# end %>
                  
                </td>
              </tr>
            <% end %>
          <% end -%>
        </table>
        <br />
        <%= will_paginate @upcoming_reg, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next"%>

    </div>

  </div>
</div>

