<!DOCTYPE html>
<html>
  <head>
    <title>Hiemann Brother's Chess Academy</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Bitter|Josefin+Sans|Nunito|Varela+Round" %>

        <%= csrf_meta_tags %>
  </head>

  <body>
    <div id='login'>
      <% if logged_in? %>
        <%= link_to 'Dashboard', :dashboard , class: 'links'%>&nbsp;&nbsp;

      
        <%= current_user.username.capitalize %> : <%= current_user.role.capitalize %>&nbsp;&nbsp;
        <%= link_to 'Logout', logout_path , class: 'links'%> &nbsp;&nbsp; &nbsp;
      <% else %>
        <%= link_to 'Login', login_path  , class: 'links'%> &nbsp; | &nbsp;  <%= link_to 'Create Account', new_family_path  , class: 'links'%>&nbsp;&nbsp;&nbsp;

      <% end %>
    </div>
    <!-- Partials for the topbar and navigation -->
    <%= render :partial => "partials/topbar" %>

    <% if logged_in? and current_user.role?(:admin) %>
      <%= render :partial => "partials/admin_nav" %>
    <% elsif logged_in? and current_user.role?(:instructor) %>
      <%= render :partial => "partials/instructor_nav" %>
    <% elsif logged_in? and current_user.role?(:parent) %>
      <%= render :partial => "partials/parent_nav" %>
    <% else  %>
      <%= render :partial => "partials/guest_nav" %>
    <% end %>

    <div class="container col s8">
      <div class="row">
        <div class="col s12">
          <!-- Flash messages appear here -->
          <%= render :partial => "partials/flash" %>
          <!-- MAIN CONTENT OF TEMPLATE GOES HERE -->
          <%= yield %>

        </div>
      </div>
    </div>
    
    <%= render :partial => "partials/footer" %>    
  </body>



    <%= javascript_include_tag 'application'%>

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        $('ul.tabs').tabs();
      });
    </script>



</html>
